# Created by .ignore support plugin (hsz.mobi)
.DS_Store
Thumbs.db
.idea

*--
*-
*--.*
*-.*

/certs/*
/gitlab/*
!/gitlab/shared
/gitlab/shared/*
!/gitlab/shared/registry
/gitlab/shared/registry/*
/logs/*
/postgresql/*
/redis/*
/registry/*
/runner/*
!/runner/config
/runner/config/*

.env
/env/*
!/env/*.dist.env

docker-compose.override.yml

**/local/*
!.gitkeep
